<!DOCTYPE html>
<html lang="en" ng-app="csmrAPP">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Movie Recommendation Service</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="CF(Collaborative Filtering)-based Movie Recommendation Service" name="description" />
    <meta content="Steve Chang" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
    <!-- END THEME STYLES -->
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    </style>

    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
        <!-- BEGIN: HEADER -->
        <header ng-controller="loginCtrl" class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
            <div class="c-navbar">
                <div class="container">
                    <!-- BEGIN: BRAND -->
                    <div class="c-navbar-wrapper clearfix">
                        <div class="c-brand c-pull-left">
                            <h1>CSMR</h1>
                        </div>
                        <!-- END: BRAND -->
                        <!-- BEGIN: HOR NAV -->
                        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                            <ul class="nav navbar-nav c-theme-nav">
                                <li ng-if="loginData.loginStatus" class="ng-cloak">
                                    <a href="javascript:;" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-sbold">
                                        <i class="icon-user"></i> Welcome, {{ loginData.loginEmail }}! </a>
                                </li>
                                <li ng-if="loginData.loginStatus" class="ng-cloak">
                                    <a href="javascript:;" ng-click="logout()" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-sbold">
                                        <i class="icon-user"></i> Logout </a>
                                </li>
                                <li ng-if="!loginData.loginStatus" class="ng-cloak">
                                    <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                                        <i class="icon-user"></i> Sign In</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- END: HOR NAV -->
                    </div>
                </div>
            </div>
            <!-- END: HEADER -->
            <!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
            <div class="modal fade c-content-login-form" id="signup-form" role="dialog" ng-if="!loginData.loginStatus" class="ng-cloak">
                <div class="modal-dialog">
                    <div class="modal-content c-square">
                        <div class="modal-header c-no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_sign_up_form">
										<span aria-hidden="true">&times;</span>
									</button>
                        </div>
                        <div class="modal-body">
                            <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                            <p>Please fill in below form to create an account with us</p>
                            <form>
                                <div class="form-group">
                                    <label for="signup-email" class="hide">Email</label>
                                    <input type="text" class="form-control input-lg c-square" placeholder="Email" ng-model="data.email" ng-change="checkEmailExist()">
                                    <span style="color:red;">{{ data.sign_up_email_error }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="signup-username" class="hide">Password</label>
                                    <input type="password" class="form-control input-lg c-square" placeholder="Password" ng-model="data.sign_up_password">
                                    <span style="color:red;">{{ data.sign_up_password_error }}</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" ng-click="signUp()" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
                                    <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                                </div>
                                <span style="color:red;">{{ data.sign_up_error }}</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/USER/SIGNUP-FORM -->
            <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
            <div class="modal fade c-content-login-form" id="login-form" role="dialog" ng-if="!loginData.loginStatus" class="ng-cloak">
                <div class="modal-dialog">
                    <div class="modal-content c-square">
                        <div class="modal-header c-no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_login_form">
										<span aria-hidden="true">&times;</span>
									</button>
                        </div>
                        <div class="modal-body">
                            <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
                            <p>Let's make today a great day!</p>
                            <form>
                                <div class="form-group">
                                    <label for="login-email" class="hide">Email</label>
                                    <input type="text" ng-model="data.email" class="form-control input-lg c-square" placeholder="Email">
                                    <span style="color:red;">{{ data.email_error }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="login-password" class="hide">Password</label>
                                    <input type="password" ng-model="data.password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" ng-click="login()" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
                                </div>
                                <span style="color:red;">{{ data.login_error }}</span>
                            </form>
                        </div>
                        <div class="modal-footer c-no-border">
                            <span class="c-text-account">Don't Have An Account Yet ?</span>
                            <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/USER/LOGIN-FORM -->
        </header>

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page" ng-controller="movieCtrl">
            <!-- BEGIN: PAGE CONTENT -->

            <div class="c-content-box c-size-md">
                <div class="container">
                    <h1>Recommend List</h1>
                    <div id="grid-container" class="row">
                        <div class="col-md-3" ng-repeat="movie in data.recommand_list">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/base/img/content/stock/60.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-projects-title" ng-if="loginData.loginStatus">
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model="data.rate" value="{{ movie.id }}_1" ng-change="rate(data.rate)">1</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model="data.rate" value="{{ movie.id }}_2" ng-change="rate(data.rate)">2</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model="data.rate" value="{{ movie.id }}_3" ng-change="rate(data.rate)">3</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model="data.rate" value="{{ movie.id }}_4" ng-change="rate(data.rate)">4</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model="data.rate" value="{{ movie.id }}_5" ng-change="rate(data.rate)">5</label>
                            </div>
                            <div class="cbp-l-grid-projects-title">{{ movie.title }}</div>
                            <div class="cbp-l-grid-projects-desc">{{ movie.genre }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-content-box c-size-md" ng-if="loginData.loginStatus">
                <div class="container">
                    <h1>Scored List</h1>
                    <div id="grid-container" class="row">
                        <div class="col-md-3">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/base/img/content/stock/60.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-projects-title">
                                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                            </div>
                            <div class="cbp-l-grid-projects-title">Dashboard</div>
                            <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->
        <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
        <!-- BEGIN: CORE PLUGINS -->
        <script src="assets/plugins/angular.min.js" type="text/javascript"></script>
        <script src="assets/plugins/js.cookie.js" type="text/javascript"></script>
        <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- END: CORE PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->

        <script>
            var app = angular.module('csmrAPP', []);
            app.factory("sharedScope", function() {
                var jwt_token = Cookies.get('jwt_token');
                var loginStatus, email = "";
                if (jwt_token == undefined) {
                    loginStatus = false;
                } else {
                    var user_info = JSON.parse(atob(jwt_token.split('.')[1]));
                    email = user_info.email;
                    loginStatus = true;
                }
                return {
                    loginData: {
                        loginStatus: loginStatus,
                        loginEmail: email
                    }
                };
            });
        </script>
        <script src="assets/controller/loginController.js"></script>
        <script src="assets/controller/movieController.js"></script>
        <!-- END: THEME SCRIPTS -->
        <!-- END: LAYOUT/BASE/BOTTOM -->
    </body>

</html>